<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elevate - Sinatra ActiveRecord</title>
  <link rel="website icon" href="images/icon.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: white;">
  <%= yield %>
</body>
</html>