this is login page

<form action="/login" method="POST">
	<h2>Login</h2>
	<div class="inputbox">
		<input type="username" name="username" required>
		<label for="username">USERNAME</label>
	</div>
	<div class="inputbox">
		<input type="password" name="password" required>
		<label for="password">PASSWORD</label>
	</div>
	<button>Login</button>
	<div class="link">
		<p><a href="/register">Create a new account</a></p>
	</div>
</form>