This is registration page

<form action="/register" method="POST">
	<h2>Register</h2>
	<div class="inputbox">
		<input type="text" name="email" required>
		<label for="email">EMAIL</label>
	</div>	
	<div class="inputbox">
		<input type="text" name="username" required>
		<label for="username">USERNAME</label>
	</div>
	<div class="inputbox">
		<input type="password" name="password" required>
		<label for="password">PASSWORD</label>
	</div>
	<div class="inputbox">
		<input type="password" name="password_confirmation" required>
		<label for="password_confirmation">CONFIRM PASSWORD</label>
	</div>			
	<button>Register</button>
</form>