* {
	margin: 0;
	padding: 0;
	font-family:'Roboto','Helvetica','Arial',sans-serif;
	background-color: black;
}

a{
	text-decoration: none;
	color: white;
}

h1 {
	font-weight: 100;
	color: white;
}

.flex {
	display: flex;
}

nav {
	height: 50px;
	padding: 5px 2%;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	background: black;
	position: sticky;
	top: 0;
	z-index: 10;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 30px;
	color: white;
}

nav .logo {
	height: 50px;
}

.menu {

}

.container {
	margin: 20px;
	padding: 20px;
	justify-content: center;
	border: 2px solid #ccc;
	border-radius: 25px;
	width: 30%;
}

.container .inputbox {
	position: relative;
	margin: 20px 0;
	width: 100%;
	border-bottom: 2px solid white;
}

.container .inputbox label {
/*	position: absolute;
	color: white;
	font-size: 1em;*/
}

.container .inputbox input {
	width: 100%;
	height: 50px;
	font-size: 1em;
	padding: 0 35px 0 5px;
}

.login_section{
	padding: 20px;
	align-items: center;
	flex-direction: column;
}

.login_section img{
	width: 120px;
}

.login_box{

}

.row{
	justify-content: space-between;
}

button {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: 2px solid #ccc;
	outline: none;
	font-size: 1em;
	font-weight: 600;
	padding: 10px;
	margin: 20px 0 0;
	cursor: pointer;
}

.yellow{
	background-color: #f3ce13;
}

.white{
	background-color: white;
}

.link{
	margin: 20px 0;
}

.movies_container{
	margin: 20px;
	padding: 20px;

}

.movies_list{
	flex-wrap: wrap;
}

.movies{
	margin: 10px 10px 0 0;
	border: 1px solid #ccc;
	border-radius: 5%;
	width: 15.8%;
	height: 48vh;
}

.poster{
	justify-content: center;
	margin: 10px;
}

.poster img{ 
	align-items: center;
	width: 120px;
	margin: 0 20px 20px;
}

h4{
	color: white;
}

.detail_box {
	justify-content: space-between;
	padding: 5px;
}

.grey_bg {
	background-color: grey;
}

.column {
	flex-direction: column;
}

.ratings{
	gap: 5px;
	margin-bottom: 5px;
}

.ratings img{
	width: 20px;
}

.details{
	justify-content: space-between;
}

content{
	margin: 20px 10%;
	padding: 10px;
	width: 80%;
	height: 80vh;
	background-color: grey;
	justify-content: space-between;
}

.space-between{
	justify-content: space-between;
}

.bottom img{
	width: 40px;
}

.content_middle img{
	width: 200px;
}

.content_top{
	height: 15%;
}

.content_middle{
	height: 55%;
}

.content_bottom{
	height: 30%;
}

.content_bottom .right{
	width: 50%;
}

.left{
	width: 60%;
}

.right{
	width: 40%;
	align-self: center;
	justify-content: center;
}

.left .bottom{
	gap: 30px;
}

.title h1{
	font-size: 50px;
}

.left .title{
	height: 70%;
}

.right .bottom{
	height: 40%;
}

.right{
	align-items: center;
}

.right form{
	width: 100%;
	align-self: flex-start;
}

.content_bottom .right{
	height: 100%;
}

.content_bottom .left{
	gap: 20px;
}

.right .top{
	width: 100%;
	height: 50%;
	justify-content: center;
}